<!DOCTYPE html>
<html xmlns:th = "http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/mystyle.css}">
</head>
<body>

<div class="container">
<h1> Adding css, js, image in thymeLeaf</h1>
<p> lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<img th:src="@{/image/img.gif}" alt="image" >
</div>

<script th:src="@{/js/myjs.js}"></script>

</body>
</html>