<!DOCTYPE html>
<html xmlns:th = "http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h1>These are the services provided by Akash Soam</h1>
<h2> This is service page</h2>

<!--  going to bring footer here -->
<!--<footer th:replace="footer::footer1('This is title', 'This is subtitle')"></footer>
  -->

<footer th:replace="footer::footer1(${title}, ${subtitle})"></footer>
<!-- 
<footer th:insert="footer::footer1"></footer>
<footer th:include="footer::footer1"></footer>
-->

</body>
</html>